@import "fonts/fonts.css";
@import "reset.css";
:root {
  --primary-blue: #0060A1;
  --even-blue: #92C8EA;
  --odd-blue: #C5E0F4;
  --primary-orange: #F58220;
  --even-orange: #FAAE71;
  --odd-orange: #FCC89A;
  --base: #0864a4;
  --white: #fff;
  --menu-width: 50%;
}

body {
  padding: 3em;
}

.header {
  display: flex;
  align-items: center;
  gap: 3em;
}
.header__logo {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  text-align: center;
}
.header__logo span {
  color: var(--primary-orange);
  font-family: "News Goth Light";
  font-size: 1em;
}
.header__title h1 {
  color: var(--primary-orange);
  font-family: "News Goth BT Bold";
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
}
.header__title h2 {
  color: var(--primary-blue);
  font-family: "News Goth Light";
  font-size: 2em;
  text-transform: uppercase;
}

.intro {
  height: 1px;
  opacity: 0;
  transition: 500ms ease-in;
}
.intro:hover {
  height: 100px;
  opacity: 1;
}

.side-menu {
  width: 15%;
  font-family: "Open Sans";
  font-size: 0.8em;
}
.side-menu__header {
  padding: 0 0 20px;
  font-size: 1.2em;
  line-height: 1.2em;
}
.side-menu__header:first-of-type {
  border-bottom: 7px solid #0058A4;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
}
.side-menu__list {
  padding: 1em 0;
}
.side-menu__list li {
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 0px 8px 2px;
  border-bottom: 1px solid #999;
  line-height: 18px;
}
.side-menu__list li i {
  margin-right: 5px;
}
.side-menu__list li a {
  text-decoration: none;
}
.side-menu__list li a:hover {
  text-decoration: underline;
}
.side-menu__list li a:visited {
  color: black;
}

.course-menu {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}
.course-menu__search-bar {
  width: var(--menu-width);
  padding: 1em;
  margin: 1em;
  border: 2px solid var(--primary-orange);
}
.course-menu__results {
  display: flex;
  flex-flow: row wrap;
  width: var(--menu-width);
  border: 2px solid var(--primary-blue);
  display: none; /*/ Default behavior is to hide the results until a search is made /*/
}
.course-menu__results__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 100%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  color: var(--primary-blue);
}
.course-menu__results__item__title {
  text-transform: uppercase;
}
.course-menu__results__item__title__credits {
  display: none;
}
.course-menu__results__item__btn {
  padding: 1em;
  background: transparent;
  border: transparent;
}
.course-menu__results__item--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.course-menu__results__item:hover {
  background: var(--primary-blue);
  color: var(--white);
}
.course-menu__pagination {
  display: none; /*/ Default behavior is to hide the results until a search is made /*/
}
.course-menu__pagination__btn {
  padding: 1em;
  margin: 0.5em;
  background: transparent;
  border: 2px solid var(--primary-orange);
}
.course-menu__pagination--hidden {
  display: none;
}

.intro {
  font-family: "News Goth Light";
  letter-spacing: 1px;
  margin: 1em 0;
}

.side-menu {
  position: absolute;
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: center;
  padding: 2em;
}

.year {
  display: flex;
  flex-flow: column nowrap;
  font-family: "News Goth Light";
}
.year h1 {
  padding: 0.2em;
  background: var(--primary-blue);
  color: var(--white);
  font-family: "News Goth BT Bold";
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
.year__semester__header {
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  width: 100%;
  color: var(--primary-blue);
  font-size: 1.4em;
  text-transform: uppercase;
}
.year__semester__header__light {
  font-family: "News Goth Light";
}
.year__semester__header__bold {
  font-family: "News Goth BT Bold";
  font-weight: bolder;
}
.year__semester__course {
  display: flex;
  gap: 2em;
  width: 27.875rem;
}
.year__semester__course__code {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: var(--primary-blue);
  margin-left: 0.75em;
  text-transform: uppercase;
}
.year__semester__course__title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: var(--primary-blue);
  display: flex;
  flex-flow: column wrap;
  letter-spacing: 1px;
}
.year__semester__course__title__credits {
  margin-top: 1.25em;
  color: white;
  font-size: 0.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.year__semester__course__btns {
  display: flex;
  flex-direction: row-reverse;
  opacity: 0;
  padding: 1em;
}
.year__semester__course__btns button {
  background: transparent;
  border: transparent;
  color: var(--primary-blue);
}
.year__semester__course:hover .year__semester__course__btns {
  opacity: 1;
}

.year:nth-child(odd) .year h1 {
  background: var(--primary-blue);
}

.year:nth-child(odd) .year__semester__course:nth-child(odd) {
  background: var(--odd-blue);
}

.year:nth-child(odd) .year__semester__course:nth-child(even) {
  background: var(--even-blue);
}

.year:nth-child(even) .year h1 {
  background: var(--primary-orange);
}

.year:nth-child(even) .year__semester__course:nth-child(odd) {
  background: var(--odd-orange);
}

.year:nth-child(even) .year__semester__course:nth-child(even) {
  background: var(--even-orange);
}

.year:first-of-type .year__header {
  border-top-left-radius: 20px;
}

.year:last-of-type .year__header {
  border-top-right-radius: 20px;
}

.year:first-of-type .year__semester:last-of-type .year__semester__course:last-of-type {
  border-bottom-left-radius: 20px;
}

.year:last-of-type .year__semester:last-of-type .year__semester__course:last-of-type {
  border-bottom-right-radius: 20px;
}

.total-credits {
  position: relative;
  right: 13em;
  width: 100%;
  font-family: "News Goth BT Bold";
  font-size: 1.1em;
  color: var(--primary-orange);
  text-align: right;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
}
.footer__footnotes {
  margin: 1em;
}
.footer__footnotes h1 {
  color: var(--primary-blue);
  font-family: "News Goth BT Bold";
  font-size: 1.5em;
  text-transform: uppercase;
}
.footer__footnotes__list {
  font-family: "News Goth Light";
  font-size: 0.9em;
  letter-spacing: 1px;
  color: var(--primary-blue);
  list-style-position: outside;
  list-style-type: decimal;
  margin: 1em;
}
.footer__footnotes__list__item {
  margin: 0.3em;
}
.footer__footnotes__list__item::marker {
  font-size: xx-small;
}
.footer__footnotes__paragraph {
  font-family: "News Goth Light";
  font-size: 1em;
  color: var(--even-blue);
}
.footer__site {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--primary-blue);
  color: white;
}
.footer__site__left {
  flex: 0 0 50%;
}
.footer__site__left__btn {
  padding: 1em;
  background: transparent;
  border: transparent;
  color: white;
}
.footer__site__left p strong {
  color: white;
}
.footer__site__right {
  text-align: right;
}

.toast {
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  background: var(--primary-blue);
  color: var(--white);
}

/*# sourceMappingURL=style.css.map */
