@import "fonts/fonts.css";
@import "reset.css";

:root {
    // Consider adding the year prefix to primary colors and course prefix even/odd colors to be more readable 
    --primary-blue: #0060A1;
    --even-blue: #92C8EA;
    --odd-blue: #C5E0F4;

    --primary-orange: #F58220;
    --even-orange: #FAAE71;
    --odd-orange: #FCC89A;

    --base: #0864a4;
    --white: #fff;

    --menu-width: 50%;
}

body {
    padding: 3em;
}

.header {
    display: flex;
    align-items: center;
    gap: 3em;

    &__logo {
        display: flex;
        flex-direction: column;

        font-size: 3em;
        text-align: center;

        span {
            color: var(--primary-orange);
            font-family: 'News Goth Light';
            font-size: 1em;
        }
    }

    &__title {
        h1 {
            color: var(--primary-orange);
            font-family: 'News Goth BT Bold';
            font-size: 3em;
            font-weight: bolder;
            text-transform: uppercase;
        }

        h2 {
            color: var(--primary-blue);
            font-family: 'News Goth Light';
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}

// @mixin course-template {
//     display: flex;
//     background: var(--odd-blue);
//     color: white;
//     flex-flow: row nowrap;

//     width: 27.875rem;
//     height: 3.3125rem;

//     padding: 1em;

//     font-family: 'News Goth Light';
//     font-size: 1em;
// }

@mixin course-template {
    display: flex;
    gap: 2em;
    width: 27.875rem;

    &__code {
        @include course-header;
        margin-left: 0.75em;
        text-transform: uppercase;
    }

    &__title {
        @include course-header;

        display: flex;
        flex-flow: column wrap;
        letter-spacing: 1px;

        &__credits {
            margin-top: 1.25em;
            color: white;
            font-size: 0.50em;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    &__credits {
    }
    
}

.course-menu {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    &__search-bar {
        width: var(--menu-width);
        padding: 1em;        
        margin: 1em;
        border: 2px solid var(--primary-orange);
    }
    &__results {
        display: flex;
        flex-flow: row wrap;
        width: var(--menu-width);
        border: 2px solid var(--primary-blue);

        display: none; /*/ Default behavior is to hide the results until a search is made /*/

        &__item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            // flex: 1 1 17.875rem;
            flex: 100%;
            padding: 0.5em;
            margin: 0.5em;

            font-size: 1em;
            color: var(--primary-blue);
            

            &__code {

            }

            &__title {
                text-transform: uppercase;
                &__credits {
                    display: none;
                }
            }

            &__btn {
                padding: 1em;
                background: transparent;
                border: transparent;
                // display: none;

                &::after {
                    // content: "+";
                    // color: black;
                }
            }



            &--loading {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
            }

            &:hover {
                background: var(--primary-blue);
                color: var(--white);
            }
        }
    }

    &__pagination {
        display: none; /*/ Default behavior is to hide the results until a search is made /*/

        &__btn {
            padding: 1em;
            margin: 0.5em;
            background: transparent;
            border: 2px solid var(--primary-orange);
        }

        &--hidden {
            display: none;
        }
    }
}

.intro {
    font-family: 'News Goth Light';
    letter-spacing: 1px;
    margin: 1em 0;
}
.side-menu {
    position: absolute;

}

main {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;

    padding: 2em;
}

.year {
    display: flex;
    flex-flow: column nowrap;

    font-family: 'News Goth Light';
   
    h1 {
        padding: 0.2em;
        background: var(--primary-blue);
        color: var(--white);

        font-family: 'News Goth BT Bold';
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
    }

    &__semester {
        &__header {
            display: flex;
            justify-content: space-between;
            padding: 0.30em;

            width: 100%;

            color: var(--primary-blue);
            font-size: 1.4em;
            text-transform: uppercase;
            &__light { 
                font-family: 'News Goth Light';
            }

            &__bold {
                font-family: 'News Goth BT Bold';
                font-weight: bolder;
            }
        }

        &__course {
            display: flex;
            gap: 2em;

            width: 27.875rem;
            // height: 3.3125rem;

            @mixin course-header {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                font-size: 1em;

                color: var(--primary-blue);
            }

            &__code {
                @include course-header;
                margin-left: 0.75em;
                text-transform: uppercase;
            }

            &__title {
                @include course-header;

                display: flex;
                flex-flow: column wrap;
                letter-spacing: 1px;

                &__credits {
                    margin-top: 1.25em;
                    color: white;
                    font-size: 0.50em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }

            &__credits {
            }
        }
    }
}


.year:nth-child(odd) .year h1{
    background: var(--primary-blue);
}

.year:nth-child(odd) .year__semester__course:nth-child(odd) {
    background: var(--odd-blue);
}

.year:nth-child(odd) .year__semester__course:nth-child(even) {
    background: var(--even-blue);
}

.year:nth-child(even) .year h1{
    background: var(--primary-orange);
}

.year:nth-child(even) .year__semester__course:nth-child(odd) {
    background: var(--odd-orange);
}

.year:nth-child(even) .year__semester__course:nth-child(even) {
    background: var(--even-orange);
}

// Rounds the top left corner of the first year's header
.year:first-of-type .year__header {
    border-top-left-radius: 20px;
}

// Rounds the top left corner of the last year's header
.year:last-of-type .year__header {
    border-top-right-radius: 20px;
}

// Rounds the bottom left corner of the last course in the very first semester 
.year:first-of-type .year__semester:last-of-type .year__semester__course:last-of-type {
    border-bottom-left-radius: 20px;
}

// Rounds the bottom right corner of the last course in the very last semester 
.year:last-of-type .year__semester:last-of-type .year__semester__course:last-of-type {
    border-bottom-right-radius: 20px;
}


.total-credits {
    position: relative;
    right: 13em;
    // margin-right: 14em;
    width: 100%;

    font-family: 'News Goth BT Bold';
    font-size: 1.10em;

    color: var(--primary-orange);

    text-align: right;
    text-transform: uppercase;
}

.footer {
    display: flex;
    flex-flow: column nowrap;

    &__footnotes {
        margin: 1em;

        h1 {
            color: var(--primary-blue);
            font-family: 'News Goth BT Bold';
            font-size: 1.5em;
            text-transform: uppercase;
        }

        &__list {
            font-family: 'News Goth Light';	
            font-size: 0.90em;
            letter-spacing: 1px;

            color: var(--primary-blue);
            list-style-position: outside;
            list-style-type: decimal;

            margin: 1em;
            
            &__item {
                margin: 0.3em;
                &::marker {
                    font-size: xx-small;
                }
            }
        }

        &__paragraph {
            font-family: 'News Goth Light';
            font-size: 1em;
            color: var(--even-blue);
        }

    }

    &__site {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        padding: 1em;

        font-family:Arial, Helvetica, sans-serif;

        background: var(--primary-blue);
        color: white;

        &__left {
            flex: 0 0 50%;

            &__btn {
                padding: 1em;
                background: transparent;
                border: transparent;
                color: white;
            }

            & p {
                & strong {
                    color: white;
                }
            }
        }

        &__right {
            // flex: 0 0 50%;
            text-align: right;
        }

    }
}


.toast {
    position: fixed;
    top: 90%; left: 90%;
    transform: translate(-50%, -50%);

    background: var(--primary-blue);
    color: var(--white);
}
